{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}Accueil
{% endblock %}

{% block contenu %}
	<div class="container-fluid">
		{% if form.etat is defined %}
			{% if form.etat == true %}
				<h1 class="h3 mb-3 font-weight-normal">Suppression réussie</h1>
			{% else %}
				<h1 class="alert alert-danger" role="alert">Problème lors de la suppréssion</h1>
			{% endif %}
            <br>
		{% endif %}
		<div class="row justify-content-center">
			<h1 class="text-center text-dark p-4">Les sicaires inscrits :</h1>
		</div>

		<div class="row justify-content-center">
			<div class="col-8 bg-white p-4 m-0 text-primary">
				<ul class="list-group">
					{% for user in liste %}
						<li class="list-group-item list-group-item-{{cycle(['secondary','light'], loop.index0)}}">
							<div class="card mb-3">
								<div class="row no-gutters" style="max-width: 540px; max-height: 600px;">
									{% if user.photo|trim is not empty %}
										<div class="col-md-4">
											<img src="images/{{user.photo}}" class="card-img" alt="...">
										</div>
									{% else %}
										<div class="col-md-4">
											<img src="images/blank.png" class="card-img" alt="...">
										</div>
									{% endif %}
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">{{user.pseudo}}</h5>
											<p class="card-text">
												<small class="text-muted">{{user.libelle}}</small>
											</p>
											<a href="index.php?page=profil&profil={{user.pseudo}}" class="card-link">Voir profil</a>
										</div>
									</div>
									{% if user.dateInscription!=null %}
										<small>
											Inscrit le
											{{user.dateInscription}}
										</small>
									{% endif %}
								</div>
							</li>
							{% if session.role==1 %}
								<div class="position-relative-left">
									<button type="button" class="btn btn-outline-dark">
										<a href="index.php?page=accueil&id={{user.id}}" class="text-dark">
											<span class="material-icons">
												delete
											</span>
										</a>
									</button>
								</div>
								<div class="position-relative-left">
									<button type="button" class="btn btn-outline-dark">
										<a href="index.php?page=modifprofil&profil={{user.id}}" class="text-dark">
											<span class="material-icons">
												create
											</span>
										</a>
									</button>
								</div>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>


		{% set nb = form.nbpages %}
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center m-4 p-4">
				<li class="page-item-alert {% if form.nopage == 0 %}disabled{% endif %}">
					<a class="page-link" href="index.php?page=accueil&nopage={{ 0 }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% for i in 1..nb %}
					<li class="page-item-alert {% if i ==form.nopage +1 %} active{% endif %}">
						<a class="page-link" href="index.php?page=accueil&nopage={{ i-1 }}">
							{{ i }}
							<span class="sronly"></span>
						</a>
					</li>
				{% endfor %}
				<li class="page-item-alert {% if form.nopage == form.nbpages-1 %}disabled{% endif %}">
					<a class="page-link" href="index.php?page=accueil&nopage={{ nb-1 }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	{% endblock %}
